<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animal form</title>
</head>
<body>
<form id="animal-form" th:action="@{/form}" method="post">
    <p>Name :<input type="text" name="name"></p>
    <p>Breed :<input type="text" name="breed"></p>
    <p>Tail :<select name="tail">
        <option value="">--choose--</option>
        <option value="true">--true--</option>
        <option value="false">--false--</option>
    </select></p>
    <p> Age :<input type="text" name="age"></p>
    <!-- <%&#45;&#45;кнопка с надписью Pass data, после нажатия которой віполняется передача данніх методом Post&#45;&#45;%>-->
    <p><input type="submit" value="fill form"></p>
</form>


</body>
</html>